<!-- views/editNotFound.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit notfound.html</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="icon" href="https://memberportal.net/wp-content/uploads/2019/01/favicon.png" type="image/png"/>
</head>

<body>
  <div class="centerBox">
    <h2>Edit not found message</h2>

    <form action="/updateNotFound" method="post">
      <textarea name="notFoundContent" rows="10" cols="50"><%= notFoundContent %></textarea>
      <br>
      <button type="submit">Save Changes</button>
    </form>
  </div>
</body>

</html>
