<!-- views/home.ejs -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../styles.css" />
    <link rel="stylesheet" href="https://use.typekit.net/pxm1gkj.css">

    <link
      rel="icon"
      href="https://memberportal.net/wp-content/uploads/2019/01/favicon.png"
      type="image/png"
    />
  
    <link
      href="https://fonts.googleapis.com/css?family=PT+Sans"
      rel="stylesheet"
      type="text/css"
    />

<script async src="https://www.googletagmanager.com/gtag/js?id=G-2CX24TDFV4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2CX24TDFV4');
</script>
  </head>

  <body>
    <div class="centerBox">
      <img
        class="logo-animate"
        src="https://memberportal.net/wp-content/uploads/2018/12/mp-header.png"
        alt="MTM, Inc."
      />
      <p></p>

      <h3 class="title-animate">Enter Your Zip Code</h3>
  
      <p class="bodyText-animate">
        We’ll pull up the health care plans available in your area. Simply
        choose yours and get the information you’ll need to reserve your trip
        with us.
      </p>

      <form action="../searchByZipCode" method="GET">
        <!-- <label for="zipCode">Enter Zip Code:</label> -->
        <input type="text" id="zipCode" name="zipCode" required class="search-animate" />
        <button type="submit" class="button-animate">Fetch!</button>
      </form>
      <br>
      <div class="content-animate">
      <a href="https://mtm.mtmlink.net/" target="blank"
        ><img
          width="400"
          src="https://memberportal.net/wp-content/uploads/2023/10/mtm-link-banner-animated-mp-2024.gif"
          alt="Book Your Next Ride Online!"
      /></a>
      <br>
      <h5>Download the MTM Link member app today!</h5>

      <a
        href="https://apps.apple.com/us/app/mtm-link-member/id1534737345"
        target="blank"
        ><img
          src="https://memberportal.net/wp-content/uploads/2023/10/apple-app-store.png"
          width="180"
          height="60"
          alt="Available on the Apple app store"
          style="padding-top: 5px"
      /></a>

      <a
        href="https://play.google.com/store/apps/details?id=net.mtmlink.member&amp;hl=en_US&amp;gl=US"
        target="blank"
        ><img
          src="https://memberportal.net/wp-content/uploads/2023/10/google-play-store.png"
          width="207"
          height="60"
          alt="Get it on Google Play"
          style="padding-top: 5px"
      /></a>
      </div>
    </div>
  </body>
</html>
