
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Portal</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="icon" href="https://memberportal.net/wp-content/uploads/2019/01/favicon.png" type="image/png"/>
    <link rel="stylesheet" href="https://use.typekit.net/pxm1gkj.css">


</head>
<body>
    <div class="centerBox-Admin">
        
    
    <div class="centerStuff">
        <img
        class="logo"
        src="https://memberportal.net/wp-content/uploads/2018/12/mp-header.png"
        alt="MTM, Inc."
      />
      <p></p>
<div class="spacer20"></div>        
    <button>
            <a class="link" href="/createPlan">Create Plan</a>
    </button>
    <button> 
            <a class="link" href="/displayPlans">Display Plans</a>
    </button>
    <button> 
        <a class="link" href="/editNotFound">Edit Not Found</a>
</button>
    <button> 
        <a class="link" href="/">Search Zip Code</a>
</button>
</div>
    

</div>
</body>
</html>
