
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Portal</title>
</head>
<body>
    <h1>Member Portal</h1>
    <a href="/createPlan">Create Plan</a>
    <a href="/displayPlans">Display Plans</a>
</body>
</html>
