
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Portal</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="icon" href="https://memberportal.net/wp-content/uploads/2019/01/favicon.png" type="image/png"/>

</head>
<body>
    <div class="centerBox">
        <img class="logo" src="https://www.mtm-inc.net/wp-content/uploads/2020/09/mtm-logo-100-x-41.png" alt="MTM, Inc.">

    <h2>Member Portal Admin</h2>
    
    <div class="centerStuff">
        
    <button>
            <a class="link" href="/createPlan">Create Plan</a>
    </button>
    <button> 
            <a class="link" href="/displayPlans">Display Plans</a>
    </button>
    <button> 
        <a class="link" href="/editNotFound">Edit Not Found</a>
</button>
    <button> 
        <a class="link" href="/">Search Zip Code</a>
</button>
</div>
    

</div>
</body>
</html>
