<!-- views/searchResults.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

</head>

<body>
  <div class="centerBox">

  <% if (matchingPlans.length > 0) { %>
    <h1>Plans in <%= zipCode %></h1>
    <ul>
      <% matchingPlans.forEach((plan) => { %>
        <div class="planList">
          <li>
            <a href="/displayPlan/<%= plan.Code %>"><%= plan.Title %></a>
          </li>
        </div>
      <% }); %>
    </ul>
  <% } else { %>
    <!-- Display the content of notfound.html -->
    <%- notFoundContent %>
  <% } %>

  </div>
</body>

</html>
